{% extends 'base.html' %}

{% block title %}
Register | CRUD
{% endblock title %}

{% block main %}
<main class="container">
    <div class="row mt-5">
        <div class="col-md-4 offset-md-4">
            <form action="" method="post" class="card card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="text-muted fw-bold">Username</label>
                    <input type="text" class="form-control" name="username" id="username" placeholder="Ej. Jhon">
                </div>
                <div class="mb-3">
                    <label for="password1" class="text-muted fw-bold">Password</label>
                    <input type="password" class="form-control" name="password1" id="password1" placeholder="**********">
                </div>
                <div class="mb-3">
                    <label for="password2" class="text-muted fw-bold">Confirm password</label>
                    <input type="password" class="form-control" name="password2" id="password2" placeholder="**********">
                </div>
                <button class="btn btn-primary">Singup</button>
                {{ error }}
            </form>
        </div>
    </div>
</main>
{% endblock main %}